<form method="post" action="/"  enctype="multipart/form-data"> 
<h3>Please input picture</h3>
<input type="file" name="imageFile" accept="image/*">
<input type="submit">
</form>

<div>
    <p>
        The saved picture is shown behind this
    </p>
    <img src="2.jpg" alt="should show something">
</div>