<form method="post" action="/"  enctype="multipart/form-data"> 
<h3>Please input picture</h3>
<input type="file" name="imageFile" accept="image/*">
<input type="submit">
</form>

<div>
    {{#each rows}}
    <p>
        The saved picture is shown behind this
    </p>
    <img src="{{this.ImageName}}" alt="should show something">
    <p>{{this.ImageName}}</p>
    {{/each}}
</div>